doctype html
html
    head
        title  #Codevember #11 #{days[10].title}
        link(rel='stylesheet',href='./11.css')
    body
        canvas#canvas
        script(src='../../../libs/three.js')
        script(src='./11.js')
        script.
            document.addEventListener('DOMContentLoaded',function(){
                initialize();
            });