doctype html
html
    head
        title  #Codevember #11 #{days[10].title}
        link(rel='stylesheet',href='./11.css')
    body
        #container
            .big-circle.circle
                .inr-circle.circle
                .inr-circle.circle
                .inr-circle.circle
            .top-bar.bar
            .mid-bar.bar
            .btm-bar.bar
