html
    head
        title #Codevember #4 #{days[3].title}
        link(rel='stylesheet',href='./04.css')
    body
        canvas#canvas
        p jibhaine codevember 2015
        script(src='./04.js')