body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }

canvas {
  width: 100%;
  height: 100%; }

p.legend {
  position: fixed;
  bottom: .75em;
  right: .75em;
  line-height: .75em;
  font-size: .75em;
  margin: 0;
  color: #333; }
  p.legend a {
    color: black; }
