html
    head
        title #Codevember #6 #{days[5].title}
        link(rel='stylesheet',href='./06.css')

    body
        canvas#c
        p.legend
            | click anywhere to start a tree or
            a(href='javascript:reset()') reset
        script(src='./06.js')