$uiColor:white;
$uiBackground: #333;
$popinWidth:480px;
$popinHeight:320px;

a{text-decoration:none;color:white;}
#Chess{
  position:absolute;
  width:50%;
  height:50%;
  left:25%;
  top:25%;
}
.piece{
  stroke-width:.03;
  &.white{
    fill:black;
    color:black;
    stroke:white;
    border:white solid 2px;
  }
  &.black{
    fill:white;
    stroke:black;
  }
}
.queen.black{content:'♚';}
/*
♚
♛
♜
♝
♞
♟

♔
♕
♖
♗
♘
♙
*/
#Options{
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:2em;
  background-color:$uiBackground;
  color:$uiColor;
  h1{font-size:1em;}
}
.popin{
  top:-100%;
  position:absolute;
  animation:top .5s ease-in-out;
  display:block;
  left:50%;
  top:50%;
  width:$popinWidth;
  height:$popinHeight;
  margin-left:-$popinWidth/2;
  margin-top:-$popinHeight/2;
  background-color:$uiBackground;
  color:$uiColor;
  box-shadow:0 0 2em rgba(0,0,0,0.5);

  &.closed{
    top:9000px;
  }
  &.open{
    z-index:2;
    top:0;
    &:before{
      content:' ';
      background-color:rgba(0,0,0,0.5);
      position:absolute;
      z-index:1;
    }
  }
  .popin-content{
    position:relative;
    padding:2em;
  }
  .popin-close{
    font-size:2em;
    position:absolute;
    right:1em;
    top:1em;
  }
}