html
    head
        title #codevember
        link(href='https://fonts.googleapis.com/css?family=Poiret+One',rel='stylesheet',type='text/css')
        link(rel='stylesheet',href='./index.css')
    body
        h1 Codevember 2015
        ul
            - for(var x = 1; x <= 30; x++)
                //prepend 0 to small numbers
                - var day = ( ( '' + x ).length < 2) ? '0' + x : x
                li.card
                    a(href='./2015/11/' + day + '/')
                        = day
                        | &nbsp;
                        = days[x-1].title
        canvas#canvas
