html
    head
        title #Codevember #23 #{days[22].title}
        link(rel='stylesheet',href='./23.css')
    body
        canvas#canvas
        p.legend
            | a pen inspired by
            a(href='http://www.colourlovers.com/pattern/5004961/Sweet_Nectar_Dreams') Sweet Nectar Dreams
        script(src='./23.js')